modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_EMAILJS_PUBLIC_KEY = "vG_Q3r8PBD-gvyf8T"
VITE_EMAILJS_SERVICE_ID = "service_36ai07l"
VITE_EMAILJS_TEMPLATE_ID = "template_iz27s8u"
